@import './theme';

mv-form-field {
  --color-base: #8c8c8c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1.7px solid var(--color-base);
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  background-color: transparent;


  .prefix {
    display: inline-flex;
    align-items: center;
    flex-direction: row;

  }

  .middle {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;


    [fieldLabel] {
      font-size: 14rem;
      color: var(--text-color);
      position: absolute;
      transition: all 0.5s;
    }

    .middle-input {
      line-height: 26rem;

      input {
        position: absolute;
        top: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        appearance: none;
        background: transparent;
        border: none;
        caret-color: var(--primary-dark);
        font-size: 17rem;
        line-height: 26rem;
        color: #010101;
        outline: none;
      }
    }
  }

  .suffix {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  &[appearance='round'] {
    padding: 0 20rem;
    width: 100%;
    border-radius: var(--border-radius);

    .middle {
      padding-top: 15rem;
      height: 50rem;

      &.with-label {
        input {
          padding: 22rem 0 22rem;
        }
      }
    }
  }

  &[input-state='focus-state'] {
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    @include float-label(white, #2196f3);
  }

  &[input-state='invalid-state'] {
    @include float-label(white, var(--danger))
  }

  &[input-state='valid-state'] {
    @include float-label(white, var(--color-base))
  }
}



