<div class="auth-container">
  <mat-card>
    <form class="form-login" [formGroup]="formLogin">
      <h3 class="login-title">User Login</h3>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password"  formControlName="password">
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>

      <div class="login-action">
        <mv-button raised [disabled]="formLogin.invalid" (click)="onSubmit()">Login</mv-button>
      </div>
    </form>

  </mat-card>

</div>
