@import 'core';





mv-button {
  --text-color: white;
  --bg-color: var(--primary);
  --border-color: var(--primary);
  --bg-color-light: var(--primary-light);
  --border-radius: 20rem;

  // color theme
  &[color='success'] {
    --bg-color: var(--success);
    --bg-color-light: var(--success-light);
  }

  &[color='info'] {
    --bg-color: var(--info);
    --bg-color-light: var(--info-light);
  }

  &[color='warning'] {
    --bg-color: var(--warning);
    --bg-color-light: var(--warning-light);
  }
}


@mixin icon-them {

}


@mixin stroked-theme {
  border: 1rem solid var(--bg-color);
  box-shadow: var(--bg-color, 0px 3rem 1rem -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12));
  background: transparent;
  border-radius: var(--border-radius);
  color: var(--bg-color);
}


@mixin raised-theme {
  background: linear-gradient(0deg, var(--bg-color) 0%, var(--bg-color-light));
  border: none;
  box-shadow: 0 0.8rem 1.5rem -0.5rem #4d36d0be;
  letter-spacing: 0.5rem;
  border-radius: var(--border-radius);
  color: var(--text-color);
}

