mv-input-field {
  --caret-color: var(--primary);
  --active-color: var(--active);
  --bg-color: #f3f3f4;
  --border-radius: 20rem;
  --border-color: transparent;
  --line-heigh: 26rem;
  --text-color: var(--dark)
}
