:root {
  --bg-main: #f1f4f6;
  --active: #d1f3ff;
  --primary: #033C73;
  --primary-light: #3270aa;
  --text-color: #fff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #f1f4f6;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #033C73;
  --secondary: #ced4da;
  --success: #73A839;
  --success-light: #9fdb5f;
  --info: #2FA4E7;
  --infor-light: #82c1e5;
  --warning: #DD5600;
  --warning-light: #ea8649;
  --danger: #C71C22;
  --light: #d5d9eb;
  --dark: #343a40;
  --focus: #6610f2;
  --alternate: #6f42c1;
}

